<div class="imagenDeFondo">
    <img src="assets/img/wallpaper-about2.jpg" alt="">
</div>
<div class="row mt-4">
    <div class="col">
        <h1>Acerca de Marvel App</h1>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h3>¿Qué es Marvel App?</h3>
        <p>
            Marvel App, es una aplicación realizada con fines educativos desarrollada en Angular y utilizando la API marvel comics.
        </p>
        <h3>Sobre el desarrollador</h3>
        <hr class="hr">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row no-gutters">
                <div class="col-md-4 img-fluid">
                    <img src="../../../assets/img/desarrollador2.jpg" class="card-img img-fluid" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Erick Jovani Hernández Hernández</h5>
                        <p class="card-text">Ingeniero en Computación egresado de la Universidad Autónoma del Estado de México, plantel Zumpango.</p>
                        <i class="fab fa-facebook" style="margin-right: 5px;"></i><a href="https://www.facebook.com/erickjovani.hernandezhernanadez" target="blank">Erick Jovani Hernández</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>